.alerta{
    color:$blanco;
    text-transform: uppercase;
    padding: .5rem;
    margin: 1rem 0;
    font-weight: $bold;
    text-align: center;

    &.error{
        background-color: red;
    }
    &.exito{
        background-color: $verde !important;
    }
   
}

table.propiedades{
    margin:10rem 0;
    width: 100%;
    border-spacing: 0;

  thead{
      background-color: $verde;

      th{
          color: $blanco;
          padding: 1rem;
      }
  }

  tbody{
      td{
          text-align: center;
      }
  }

}

.imagen-tabla{
    width: 10rem;
    
}

